<div class="listita">
  <div class="contenido">
    <input class="inputTarea" type="text" placeholder="Hola, ¿Que haremos hoy?">
      <div class="prueba">
        <div class="contenedora">
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
          <app-card-tarea></app-card-tarea>
          <p-divider></p-divider>
        </div>
      </div>
  </div>
</div>
