// centrar p-listbox dentro del div listita y colocar p-inputtext encima del p-listbox

.listita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}

.inputTarea{
  margin-bottom: 20px;
  width: 110%;
  height: 3rem;
  border-radius: 12px;
  border: 1.5px solid gray;
  padding: 20px;
  font-size: 1rem;
}

.contenedora{
  background-color: white;
  max-height: 340px;
  overflow: scroll;
  border-radius: 12px;
  width: 110%;
  display: flow-root;
}

.contenido{
  max-width: 100%;
}

:host ::ng-deep {
  .p-divider.p-divider-horizontal {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

