// centrar p-listbox dentro del div listita y colocar p-inputtext encima del p-listbox

.listita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}

.inputTarea{
  margin-bottom: 20px;
  width: 110%;
  height: 3rem;
  border-radius: 12px;
  border: 1.5px solid gray;
  padding: 20px;
  font-size: 1rem;
}

.contenedora{
  background-color: white;
  max-height: 300px;
  // overflow: hidden;
  border-radius: 12px;
  width: 100%;
  display: flow-root;
  // overflow-y: auto;
}

.prueba{
  background-color: white;
  border-radius: 12px;
  height: 340px;
  width: 110%;
  max-height: 335px;
  overflow: hidden;
  overflow-y: auto;
}

.contenido{
  max-width: 100%;
  width: 400px;
}

:host ::ng-deep {
  .p-divider.p-divider-horizontal {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

